{% extends "base.html" %}

{% block lab2 %} Лабораторная работа 5 {% endblock %}

{% block main %}
<style>
        body {
            text-align: center;
        }
    
        .button {
            padding: 10px 20px;
            margin: 10px 0;
            background-color: #4CAF50;
            color: white;
            text-decoration: none; 
            border-radius: 5px;
            transition: background-color 0.3s ease; 
            width: 200px;
            text-align: center; 
        }

        .button:hover {
            background-color: #45a049; 
        }
</style>
    <h1>Поздравляю, {{ login }}, вы успешно вошли в систему!</h1>

    <a class="button" href="/lab5/create">Создать статью</a>
    <a class="button" href="/lab5/list">Статьи</a>
    <a class="button" href="/lab5/logout">Выйти</a>
{% endblock %}
