{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Формы, cookie</h1>
    <div>Привет, <span style="color: {{name_color}}">{{ name }}</span>!

    </div>
    <div>Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab3/cookie">Kyки</a>
        </li>
        <li>
            <a href = "/lab3/form1">Форма</a>
        </li>
        <li>
            <a href = "/lab3/pay">Заказ напитка</a>
        </li>
        <li>
            <a href="/lab3/train">Купить железнодорожный билет</a>
        </li>
        <li>
            <a href="/lab3/home">Диапазон</a>
        </li>
    </ol>
{% endblock %}
